html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
header {
	display: flex;
	justify-content: center;
	position: fixed;
	width: calc(100% - 1rem);
	padding: 0.5rem;
	margin-right: 0;
	font-size: 1.5rem;
	text-align: center;
	background-color: rgb(0, 140, 255);
	border-bottom: 2px solid rgb(0, 255, 242);
	box-shadow: 0.1rem 0.1rem 0.1rem black;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	z-index: 200;
}
.spacer {
	flex: 1;
}
.spacer-two {
	display: none;
}
.button-div {
	display: flex;
	align-items: center;
	margin-right: 0;
}
.menubutton {
	border: none;
	background-color: transparent;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-size: 1.5rem;
	outline: none;
	padding-right: 0;
}
.menubutton:active {
	text-shadow: none;
}
li i {
	margin-right: 0.5rem;
}
a {
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	text-decoration: none;
}
main {
	padding-top: 45px;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

.side-menu {
	padding-top: 40px;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 140, 255, 0.75);
	border-bottom: 2px solid rgb(0, 255, 242);
	box-shadow: 0.1rem 0.1rem 0.1rem black;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	animation: fadein 1s linear;
}
.side-menu ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
}
.side-menu-out {
	padding-top: 40px;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 140, 255, 0.75);
	border-bottom: 2px solid rgb(0, 255, 242);
	box-shadow: 0.1rem 0.1rem 0.1rem black;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	animation: fadeout 2s linear;
	opacity: 0;
	margin-top: -100%;
}
.side-menu-out ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
}
li {
	margin: 0.5rem;
}
section {
	padding: 10px;
	display: flex;
	flex-direction: column;
}
section i {
	margin: 0.5rem;
	font-size: 2rem;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeout {
	0% {
		opacity: 1;
		margin-top: 0;
	}
	50% {
		opacity: 0;
	}
	99% {
		margin-top: 0;
	}
	100% {
		margin-top: -100%;
	}
}
@media (min-width: 500px) {
	header {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	main {
		padding-top: 60px;
	}
	.side-menu {
		height: 100%;
		width: auto;
		border-bottom: none;
		border-right: 2px solid rgb(0, 255, 242);
		padding-top: 60px;
	}
	.side-menu ul {
		flex-direction: column;
	}
	.side-menu-out {
		height: 100%;
		width: auto;
		border-bottom: none;
		border-right: 2px solid rgb(0, 255, 242);
		padding-top: 60px;
	}
	.side-menu-out ul {
		flex-direction: column;
	}
	li {
		margin: 1rem 1rem;
	}
	a:hover {
		color: rgba(228, 1, 1, 0.993);
	}
	a:active {
		text-shadow: none;
	}
	.my-name {
		font-size: 2rem;
		flex: 3;
		text-align: center;
	}
	.spacer {
		display: none;
	}
	.spacer-two {
		display: block;
		flex: 1;
	}
	.button-div {
		flex: 1;
	}
	span {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.menubutton:hover {
		color: rgba(228, 1, 1, 0.993);
	}
}
