html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
header {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	margin-right: 0;
	font-size: 1.5rem;
	text-align: center;
	background-color: rgb(0, 140, 255);
	border-bottom: 2px solid rgb(0, 255, 242);
	box-shadow: 0.1rem 0.1rem 0.1rem black;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
}
.spacer {
	flex: 1;
}
.button-div {
	display: flex;
	align-items: center;
	margin-right: 0;
}
.menubutton {
	border: none;
	background-color: transparent;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-size: 1.5rem;
	outline: none;
	padding-right: 0;
}
.menubutton:active {
	text-shadow: none;
}
a {
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	text-decoration: none;
}
main {
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

.side-menu {
	width: 100%;
	position: fixed;
	background-color: rgba(0, 140, 255, 0.75);
	border-bottom: 2px solid rgb(0, 255, 242);
	box-shadow: 0.1rem 0.1rem 0.1rem black;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	animation: fadein 2s linear;
}
.side-menu ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}
.side-menu-out {
	width: 100%;
	position: fixed;
	background-color: rgba(0, 140, 255, 0.75);
	border-bottom: 2px solid rgb(0, 255, 242);
	box-shadow: 0.1rem 0.1rem 0.1rem black;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	animation: fadeout 2s linear;
	opacity: 0;
}
.side-menu-out ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
}
li {
	margin: 0.5rem;
}
span i {
	margin: 0.5rem;
	font-size: 2rem;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}
@keyframes fadeout {
	from {
		opacity: 100;
	}
	to {
		opacity: 0;
	}
}
@media (min-width: 500px) {
	header {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	.side-menu {
		height: 100%;
		width: auto;
		border-bottom: none;
		border-right: 2px solid rgb(0, 255, 242);
	}
	.side-menu ul {
		flex-direction: column;
	}
	.side-menu-out {
		height: 100%;
		width: auto;
		border-bottom: none;
		border-right: 2px solid rgb(0, 255, 242);
	}
	.side-menu-out ul {
		flex-direction: column;
	}
	li {
		margin: 1rem 1rem;
	}
	a:hover {
		color: rgba(4, 1, 143, 0.993);
	}
	a:active {
		text-shadow: none;
	}
	.my-name {
		margin-left: 10px;
	}
	.spacer {
		display: none;
	}
	span {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
