html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url(./background.jpg);
	background-attachment: cover;
}
header {
	display: flex;
	justify-content: center;
	position: fixed;
	width: calc(100% - 1rem);
	padding: 0.5rem;
	margin-right: 0;
	font-size: 1.5rem;
	text-align: center;
	border-bottom: 2px solid rgb(0, 255, 242);
	box-shadow: 0.1rem 0.1rem 0.1rem black;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	z-index: 200;
	background-image: linear-gradient(to top, rgb(0, 120, 255), rgb(0, 210, 255));
}
.spacer {
	flex: 1;
}
.spacer-two {
	display: none;
}
.button-div {
	display: flex;
	align-items: center;
	margin-right: 0;
}
.menubutton {
	border: none;
	background-color: transparent;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-size: 1.5rem;
	outline: none;
	padding-right: 0;
	transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}
.menubutton:active {
	text-shadow: none;
}
li i {
	margin-right: 0.5rem;
}
a {
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	text-decoration: none;
	transition: color 0.4s ease-in-out;
	transition: text-shadow 0.4s ease-in-out;
}
main {
	padding-top: 45px;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

.side-menu {
	padding-top: 40px;
	width: 100%;
	position: fixed;
	background-image: linear-gradient(
		to top,
		rgba(0, 120, 255, 0.75),
		rgba(0, 210, 255, 0.75)
	);
	border-bottom: 2px solid rgb(0, 255, 242);
	box-shadow: 0.1rem 0.1rem 0.1rem black;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	animation: fadein 0.5s linear;
	z-index: 150;
}
.side-menu ul,
.side-menu-out ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 0 0 1.5rem;
	font-size: 1.4rem;
}
.side-menu-out {
	padding-top: 40px;
	width: 100%;
	position: fixed;
	background-image: linear-gradient(
		to top,
		rgba(0, 120, 255, 0.75),
		rgba(0, 210, 255, 0.75)
	);
	border-bottom: 2px solid rgb(0, 255, 242);
	box-shadow: 0.1rem 0.1rem 0.1rem black;
	color: rgb(0, 255, 242);
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	font-family: 'Domine', serif;
	animation: fadeout 1s linear;
	opacity: 0;
	margin-top: -100%;
	z-index: 150;
}
li {
	margin: 0.5rem;
}
section {
	padding: 10px;
	display: flex;
	flex-direction: column;
}
section i {
	margin: 0.5rem;
	font-size: 2rem;
}
.slider {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
}

.slider-frame {
	position: relative;
	height: 100%;
	width: 100%;
}

.slide {
	display: inline-block;
	height: 100%;
	width: 100%;
	margin-top: 1rem;
}
.nextArrow {
	position: absolute;
	top: 50%;
	right: 25px;
	z-index: 999;
	color: rgb(0, 255, 242);
	font-size: 2rem;
	text-shadow: -0.1rem 0.1rem 0.1rem black;
	transition: text-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.backArrow {
	position: absolute;
	top: 50%;
	left: 25px;
	z-index: 999;
	color: rgb(0, 255, 242);
	font-size: 2rem;
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	transition: text-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.backArrow:active,
.nextArrow:active {
	text-shadow: none;
}

.fa-arrow-right:before,
.fa-arrow-left:before {
	color: #222;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeout {
	0% {
		opacity: 1;
		margin-top: 0;
	}
	50% {
		opacity: 0;
	}
	99% {
		margin-top: 0;
	}
	100% {
		margin-top: -100%;
	}
}
@media (min-width: 500px) {
	.backArrow:hover,
	.nextArrow:hover {
		transform: scale(1.5);
	}
	header {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	main {
		padding-top: 60px;
	}
	.side-menu,
	.side-menu-out {
		height: 100%;
		width: auto;
		border-bottom: none;
		border-right: 2px solid rgb(0, 255, 242);
		padding-top: 60px;
		background-image: linear-gradient(
			to left,
			rgba(0, 120, 255, 0.75),
			rgba(0, 210, 255, 0.75)
		);
	}
	.side-menu ul,
	.side-menu-out ul {
		font-size: 1.3rem;
	}
	li {
		margin: 1rem 1rem;
	}
	a {
		transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
	}
	a:hover {
		color: rgba(255, 255, 255, 0.993);
	}
	a:active {
		text-shadow: none;
	}
	.my-name {
		font-size: 2rem;
		flex: 3;
		text-align: center;
	}
	.spacer {
		display: none;
	}
	.spacer-two {
		display: block;
		flex: 1;
	}
	.button-div {
		flex: 1;
	}
	span {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.menubutton:hover {
		color: rgba(255, 255, 255, 0.993);
	}
}
